name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: py test
      id: py-test
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 60
        setup-command: ''
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        PY-TEST_RESULTS: "${{steps.py-test.outputs.result}}"
      with:
        runners: py-test
